<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>INDEX</h1>
<div>
    <!-- CONNECTION 영역을 정의하는 필드셋 -->
    <fieldset style="width:250px;">
        <legend>CONNECTION</legend>
        <div style="display:flex;justify-content : space-between;">
            <input class="com_port">  <!-- COM 포트를 입력받는 텍스트 입력 필드 -->
            <button class="conn_btn">CONN</button>
        </div>
    </fieldset>
    <!-- LED 제어 영역을 정의하는 필드셋 -->
    <fieldSet style="width:250px;">
        <legend>LED</legend>
        <div style="display:flex;justify-content:space-between;">
            <button class="led_on">LED ON</button>  <!-- LED 를 켜는 버튼 -->
            |
            <button class="led_off">LED OFF</button>  <!-- LED 를 끄는 버튼 -->
        </div>
    </fieldSet>
</div>
<div style="display:flex;">
    <!-- LED 상태를 표시하는 필드셋 -->
    <fieldSet style="width:100px;">
        <legend>LED상태</legend>
        <span class="led_info"></span>
    </fieldSet>
    <!-- 온도 센서 상태를 표시하는 필드셋 -->
    <fieldSet style="width:100px;">
        <legend>온도센서</legend>
        <span class="tmp_info"></span>
    </fieldSet>
    <!-- 조도 센서 상태를 표시하는 필드셋 -->
    <fieldSet style="width:100px;">
        <legend>조도센서</legend>
        <span class="light_info"></span>
    </fieldSet>
    <!-- 초음파 센서 상태를 표시하는 필드셋 -->
    <fieldSet style="width:100px;">
        <legend>초음파센서</legend>
        <span class="distance_info"></span>
    </fieldSet>
</div>

<!-- axios cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.0/axios.min.js" integrity="sha512-aoTNnqZcT8B4AmeCFmiSnDlc4Nj/KPaZyB5G7JnOnUEkdNpCZs1LCankiYi01sLTyWy+m2P+W4XM+BuQ3Q4/Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    // LED 제어 버튼을 선택
    const led_on_btn = document.querySelector('.led_on');
    const led_off_btn = document.querySelector('.led_off');

    // 센서 정보 표시 요소를 선택
    const led_info_el = document.querySelector('.led_info');
    const tmp_info_el = document.querySelector('.tmp_info');
    const light_info_el = document.querySelector('.light_info');
    const distance_info_el = document.querySelector('.distance_info');

    // 반복 요청을 위한 인터벌 변수
    const messageInterval=null;

    // 연결 버튼 클릭 이벤트 핸들러 등록
    const conn_btn = document.querySelector('.conn_btn');
    conn_btn.addEventListener('click',function(){

         const port = document.querySelector('.com_port').value;  // 입력된 COM 포트 값 가져오기
         axios.get(`/arduino/connection/${port}`)  // 서버에 해당 포트 값으로 GET 요청
        .then(response=>{  // 응답 성공 시
            console.log(response.status);  // 응답 상태를 콘솔에 출력
            if(response.status == 200)  // 연결에 성공하면
            {
                  if(messageInterval!=null) {
                    clearInterval(messageInterval); //기존 요청 반복 제거
                  }
                  //만약 연결에 성공했다면 요청
                   messageInterval =  setInterval(()=>{
                        req_led_info_func();
                        req_tmp_info_func();
                        req_light_info_func();
                        req_distance_info_func();
                    },1000);  // 1초마다 반복 요청
            }


        })
        .catch(error=>{});

    });

    // LED ON 버튼 클릭 이벤트 핸들러 등록
    led_on_btn.addEventListener('click',function(){

        axios.get('/arduino/led/1')  // 서버에 LED ON 요청을 보낸다
        .then(response=>{})
        .catch(error=>{});

    });
    // LED OFF 버튼 클릭 핸들러 등록
    led_off_btn.addEventListener('click',function(){
        axios.get('/arduino/led/0')  // 서버에 LED OFF 요청을 보낸다
        .then(response=>{})
        .catch(error=>{});
    });

    //----------------------------------------------------------------
    // Message Received Interval Function
    //----------------------------------------------------------------
    // 각 센서의 데이터를 서버로 부터 요청하는 코드
    //1초마다 반복요청
    const req_led_info_func = ()=>{
        axios.get('/arduino/message/led')
        .then(response=>{
            led_info_el.innerHTML =  response.data;
        })
        .catch(error=>{});
    }
    const req_tmp_info_func = ()=>{
        axios.get('/arduino/message/tmp')
        .then(response=>{
            tmp_info_el.innerHTML =  response.data;
        })
        .catch(error=>{});
    }
    const req_light_info_func = ()=>{
        axios.get('/arduino/message/light')
        .then(response=>{
            light_info_el.innerHTML =  response.data;
        })
        .catch(error=>{});
    }
    const req_distance_info_func = ()=>{
        axios.get('/arduino/message/distance')
        .then(response=>{
            distance_info_el.innerHTML =  response.data;
        })
        .catch(error=>{});
    }

</script>

</body>
</html>